{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            {% render_partial 'eshop_account.views.admin_sidebar' %}
        </div>
    </div>
{% endblock %}
