{% extends 'shared/_MainLayout.html' %}

{% block content %}

    <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>ورود به حساب کاربـری :</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ login_form }}
                            <span>
								<a href="forget-password.html">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
                            <button type="submit" class="btn btn-default">ورود</button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </section>
    </div>
    <!--/form-->


{% endblock %}