<div class="col-md-4">
    <ul cl
        ass="list-group">
        <li class="list-group-item">
            <a href="/user" class="btn btn-link">پنل کاربری</a>
        </li>
        <li class="list-group-item">
            <a href="/user/edit" class="btn btn-link">ویرایش اطلاعات</a>
        </li>
        <li class="list-group-item">
            <a href="/user/products" class="btn btn-link">محصولات من</a>
        </li>
        <li class="list-group-item">
            <a href="/log-out" class="btn btn-link">خروج</a>
        </li>
    </ul>
</div>
