<div class="col-sm-4 pull-right">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                {% if product.price is 0 %}
                    <h2>رایگان</h2>
                    <a href="{% url 'show-product' product.pk %}">{{ product.title }}</a>
                    <a href="{% url 'show-product' product.pk %}" class="btn btn-default add-to-cart"><i
                        class="fa fa-shopping-cart"></i>مشاهده</a>
                {% else %}
                    <h2>{{ product.price }} تومان</h2>
                    <a href="{% url 'product-detail' product.pk %}">{{ product.title }}</a>
                    <a href="{% url 'product-detail' product.pk %}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>صفحه خرید</a>
                {% endif %}
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    {% if product.price is 0 %}
                        <h2>رایگان</h2>
                        <a href="{% url 'show-product' product.pk %}">{{ product.title }}</a>
                        <a href="{% url 'show-product' product.pk %}" class="btn btn-default add-to-cart"><i
                            class="fa fa-shopping-cart"></i>مشاهده</a>
                    {% else %}
                        <h2>{{ product.price }} تومان</h2>
                        <a href="{% url 'product-detail' product.pk %}">{{ product.title }}</a>
                        <a href="{% url 'product-detail' product.pk %}" class="btn btn-default add-to-cart"><i
                                class="fa fa-shopping-cart"></i>صفحه خرید</a>
                    {% endif %}
                </div>
            </div>
        </div>
{#        <div class="choose">#}
{#            <ul class="nav nav-pills nav-justified">#}
{#                <li><a href="{{ product.get_absolute_url }}"><i#}
{#                        class="fa fa-plus-square"></i>مشاهده</a></li>#}
{#                <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>#}
{#            </ul>#}
{#        </div>#}
    </div>
</div>