{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block content %}
    <style>
        #rcorners1 {
          border-radius: 20px;
          background: whitesmoke;
          padding: 20px;
        }
        div.polaroid {
          {#width: 1000px;#}
          padding-right: 30px;
            padding-left: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 padding-right">
                <div class="polaroid">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                    <video width="350" controls>
                                      <source src="{{ product.video.url }}">
                                    </video>
                            </div>
                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
{#                                <div class="carousel-inner">#}
{#                                    {% for gallery_list in galleries %}#}
{#                                        <div class="item {{ forloop.first|yesno:'active,' }}">#}
{#                                            {% for product_gallery in gallery_list %}#}
{#                                                <a href="">#}
{#                                                    <img src="{{ product_gallery.image.url }}"#}
{#                                                         alt="{{ product_gallery.title }}"#}
{#                                                         style="width: 70px;height: 70px;">#}
{#                                                </a>#}
{#                                            {% endfor %}#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                </div>#}

                                <!-- Controls -->
{#                                <a class="right item-control" href="#similar-product" data-slide="next">#}
{#                                    <i class="fa fa-angle-right"></i>#}
{#                                </a>#}
{#                                <a class="left item-control" href="#similar-product" data-slide="prev">#}
{#                                    <i class="fa fa-angle-left"></i>#}
{#                                </a>#}
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="">
                                <div>
                                    <h2>{{ product.title }}</h2>
                                    <p>شناسـه : {{ product.id }}</p>
                                </div>
                                <div>
									<span>
										<span>قیمت : {{ product.price }} تومان </span>
									</span>
                                    <span>
                                        <form method="post" action="/add-user-order">
                                            {% csrf_token %}
                                            {{ new_order_form.product_id }}
    {#                                            <label>تعداد :</label>#}
    {#                                            {{ new_order_form.count }}#}
										    <button type="submit" class="btn btn-fefault cart">
											    <i class="fa fa-shopping-cart"></i>
										    	افـزودن به سبـد خریـد
										    </button>
                                        </form>

									</span>
                                </div>
                                <div>
                                    <p><b>شرایـط دوره :</b>در حال برگزاری</p>
                                    <p><b>وضعیت دوره :</b> آنلاین </p>
                                    <p><b>نام استاد :</b> {{ product.teacher }} </p>
                                    <p><b>تعداد فراگیران :</b>{{ product.profile_set.count }} </p>
                                    <p><b>تعداد جلسات :</b>{{ product.videos.count }} </p>
                                    <p><b>سطح دوره :</b> {{ product.skill }}</p>
                                </div>
                                <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="{% static 'images/product-details/Bale.png' %}">
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="{% static 'images/product-details/Soroush.png' %}">
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="{% static 'images/product-details/Instagram.png' %}">
											</li>
										</a>
										<li><img src="{% static 'images/product-details/rating.png' %}" alt=""></li>
									</ul>
								</span>

                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab">جزئیات</a></li>
                                <li><a href="#companyprofile" data-toggle="tab">درباره سازنده</a></li>
                                <li><a href="#tag" data-toggle="tab">برچسب</a></li>
                                <li class=""><a href="#reviews" data-toggle="tab">نظرات</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="details">
                                <div class="col-md-12">
                                    <p>
                                        {{ product.description|linebreaks }}
                                    </p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="companyprofile">
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tag">
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{% static 'images/product-details/rating.png' %}" alt="">
                                                <h2>1.250.000 ريال</h2>
                                                <p>توضیحات کوتاه محصول</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reviews">
                                <div class="col-sm-12">
                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>مشتـری 1</a></li>
                                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 ب . ظ</a></li>
                                        <li><a href=""><i class="fa fa-calendar-o"></i>29 تیـر 1397</a></li>
                                    </ul>
                                    <p><b>نظـر خود را بنویسیـد</b></p>

										<form method="post" action="{% url 'prod-comment' product.pk%}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{form.body_text}}
                                        <b>رتبـه : </b> <img src="{% static 'images/product-details/rating.png' %}"
                                                             alt="">
                                        <button type="submit" class="btnSubmit"  style="font-family: 'B Mehr';margin-top: 30px; margin-bottom: -5px">ارسال</button>
                                    </form>
                                    <h2>نظرات</h2>
                                    <div class="response-area">
						<ul class="media-list">
                            {% for comment in product.comment.all reversed %}
							<li class="media" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);">

								<a class="pull-right" href="#">
									<img class="media-object" src="images/blog/Customer.jpg" alt="">
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.user.all.0 }}</li>
										<li><i class="fa fa-clock-o"></i> {{ comment.pub_date.time }} </li>
										<li><i class="fa fa-calendar"></i> {{ comment.pub_date.date }}</li>
									</ul>
                                    <p>{{ comment.body_text }}</p>
									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>
{#							<li class="media second-media">#}
{#								<a class="pull-right" href="#">#}
{#									<img class="media-object" src="images/blog/Customer.jpg" alt="">#}
{#								</a>#}
{#								<div class="media-body">#}
{#									<ul class="sinlge-post-meta">#}
{#										<li><i class="fa fa-user"></i>مشتـری شمـاره 1</li>#}
{#										<li><i class="fa fa-clock-o"></i> 13:33 ب.ظ</li>#}
{#										<li><i class="fa fa-calendar"></i> 25 تیـر 1397</li>#}
{#									</ul>#}
{#									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده ازلورملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>#}
{#									<a class="btn btn-primary" href=""><i class="fa fa-reply"></i>پاسـخ</a>#}
{#								</div>#}
{#							</li>#}
                            {% endfor %}
						</ul>
					</div><!--/Response-area-->
                                </div>
                            </div>

                        </div>
                    </div><!--/category-tab-->

                    <div class="recommended_items"><!--recommended_items-->
                        <h2 class="title text-center">محصولات پیشنهادی</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for product_list in related_products %}
                                    <div class="item {% if forloop.first %} active {% endif %}">
                                        {% for product in product_list %}
                                            {% include 'products/product_item_component.html' with product=product %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items-->
                </div><br><br>

                </div>

                <div class="col-sm-3">
                    <div class="polaroid">
                    <div class="left-sidebar">
                        {% render_partial 'products_categories_partial' %}
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
