{% load static %}
<style>
    #header1 {
	border-bottom: solid 2px white;
	margin-bottom: 20px;
}

.header_top1 {
  background: none repeat scroll 0 0 #F0F0E9;
	display: none; /* Don't show topbar */
}
</style>
<header id="header1" style="box-shadow: 0 0 0 0 #FD9B18, 0 1px 4px 0 #FD9B18;"><!--header-->
    <div class="header_top1"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> 80 21 24 36 98+ </a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-4 header-middle-menu">
                    <div class="shop-menu pull-left">
                        <ul class="nav navbar-nav">
                            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> پرداخت</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-sm-4" style="text-align: left;">
                    <div class="logo">
                        <a href="index.html"><img src="{{ setting.logo_image.url }}" alt="Logo" style="text-align: center;"/></a>
                    </div>
                </div>

                <div class="col-sm-8 header-middle-menu">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% if  request.user.is_authenticated %}
                                <li><a href="/user"><i class="fa fa-user"></i> حساب کاربـری</a></li>
                                <li><a href="/open-order"><i class="fa fa-shopping-cart"></i> سبد خریـد</a></li>
                            {% endif %}


                            {% if not request.user.is_authenticated %}
                                <li><a href="/login"><i class="fa fa-lock"></i> ورود</a></li>
                                <li><a href="/register"><i class="fa fa-lock"></i> ثبت نام</a></li>
                            {% else %}
                                <li><a href="/log-out"><i class="fa fa-lock"></i> خروج </a></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">

                {% include 'shared/search_products_input_component.html' %}

                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/">خـانه</a></li>
                            <li><a href="/products">محصولات</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/user/products">محصولات من</a></li>
                            {% endif %}
                            <li class="dropdown"><a href="/blog">اخبـار</a>
{#                                <ul role="menu" class="sub-menu">#}
{#                                    <li><a href="/blog">آخریـن اخبـار</a></li>#}
{#                                    <li><a href="/blog-single">صفحـه خبـر</a></li>#}
{#                                </ul>#}
                            </li>
                            <li><a href="/education">آموزش</a></li>
                            <li><a href="/about-us">درباره مـا</a></li>
                            <li><a href="/contact-us">تماس با مـا</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->